.site-header {
  background: $va-dark-blue;
  color: $color-white;

  a {
    color: $color-white;
  }
}

.site-header-navbar {
  padding-top: 2em;
  position: relative;
  z-index: 100;
}

.usa-header {
  border-bottom: none;
}

.usa-navbar-inner {
  @extend %container;
  position: relative;

  .autocomplete {
    background-color: $color-white;
    color: $va-dark-gray;
    opacity: 0;
    padding: 0.75em;
    visibility: hidden;
    z-index: 1000;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    a {
      color: $va-blue;
      display: inline-block;
      font-size: 0.9em;
      width: 100%;
    }
  }

  .nav-right{
    float: right;
    padding-top: 0.5em;
  }

  .nav-search {
    display: inline-block;
    position: relative;

    &.active {

      .nav-search-bar {
        opacity: 1;
        visibility: visible;
      }
      
      .search-icon-btn {
        background-color: $va-blue;
      }
    }
  }

  .nav-search-bar {
    position: absolute;
    left: -300px;
    opacity: 0;
    top: -0.7rem;
    visibility: hidden;

    input {
      font-size: 1.5rem;
      height: 3.7rem;
      width: 290px;
    }
  }

  .nav-user-name {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-left: 1em;

    i {
      font-size: 0.75em;
    }
  }

  .search-icon-btn {
    background: transparent;
    margin: 0;
    padding: 0.5rem 0.75rem;
  }
}

.usa-logo {
  float: none;
  display: inline-block;
}

.usa-logo-text {
  font-size: 1.7em;
  font-weight: 300;

  &:hover {
    
    .logo-agency {
      color: $usa-color-gold;
    }
  }

  .logo-agency {
    font-weight: bold;
  }
}

.usa-navigation {
  margin-top: 2em;


  .top-level-list {
    margin-left: -1em;

    > li {
      display: inline-block;
      margin-right: 1em;
      position: relative;

      i {
        font-size: 0.75em;
      }

      > a {
        display: inline-block;
        font-weight: bold;
        padding: 0.75em 1em;
        text-decoration: none;
        
        &:hover {
          background-color: $va-blue;
        }

        &.usa-current {
          background-color: $va-blue;
        }
      }

      li {
        margin: 0.5em 0;

        &:first-child {
          border-bottom: 1px solid lighten($va-dark-gray, 60);
          padding-bottom: 0.75em;
        }

        a {
          font-weight: normal;
        }
      }
    }
  }

  .dropdown {
    background-color: $color-white;
    border: 1px solid lighten($va-dark-gray, 60);
    color: $va-dark-gray;
    left: 0;
    opacity: 0;
    padding: 0.5em;
    position: absolute;
    top: 3em;
    width: 220px;
    visibility: hidden;
    z-index: 100;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    a {
      color: $va-blue;
      display: inline-block;
      width: 100%;

      &:hover {
        text-decoration: underline;
      }
    }

    li {
      font-size: 0.9em;
    }
  }
}