<header class="usa-header site-header" role="banner">
  {% include banner.html %}
  <div class="site-header-navbar clearfix">
    <div class="usa-navbar-inner">
      <button class="usa-menu-btn">Menu</button>
      <div class="usa-logo site-logo" id="logo">
        <em class="usa-logo-text">
          <a href="{{ site.baseurl }}/" title="Home" aria-label="Home">
            <span class="logo-agency">VA</span> | {{ site.title }}
          </a>
        </em>
      </div>
    </div>
    <div class="usa-navbar-inner">
      <nav class="usa-navigation">
        <ul class="usa-unstyled-list">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li>
            <a href="#">Analytics Report</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="usa-overlay"></div>