<header class="usa-header site-header" role="banner">
  {% include banner.html %}
  <div class="site-header-navbar clearfix">
    <div class="usa-navbar-inner">
      <button class="usa-menu-btn">Menu</button>
      <div class="usa-logo site-logo" id="logo">
        <em class="usa-logo-text">
          <a href="{{ site.baseurl }}/" title="Home" aria-label="Home">
            <span class="logo-agency">VA</span> | {{ site.title }}
          </a>
        </em>
      </div>
    </div>
    <div class="usa-navbar-inner">
      <nav class="usa-navigation">
        <ul class="usa-unstyled-list top-level-list">
          <li class="dashboards parent-li">
            <a href="{{ site.baseurl }}/dashboards" class="dropdown-parent">
              Dashboards
            </a>

            <ul class="usa-unstyled-list dropdown">
              <li>
                <a href="#">Create a Dashboard</a>
              </li>
              <li>
                <a href="{{ site.baseurl }}/dashboard">Example Dashboard</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Generate a Report</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="usa-overlay"></div>