.layout-topic {

  li {

    &.positive {
      
      strong {
        color: darken($va-green, 15);
      }
    }
  }

  .list-subheading {
    color: lighten($va-dark-gray, 20);
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 1em;
  }

  .topic-subheading {
    font-size: 0.9em;
  }
}