%card {
  background-color: $color-white;
  border: 1px solid darken($census-background-color, 5);
  border-radius: $census-border-radius;

  .card-heading {
    font-size: 0.9em;
    font-weight: bold;
  }
}